@model HeroicSupport.Web.Models.Auth.LoginForm

@{
	ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
	<fieldset class="form-horizontal">
		<legend>Please log in to continue</legend>
		@using (Html.ControlGroupFor(m => m.EmailAddress))
		{
			@Html.LabelFor(m => m.EmailAddress, new {@class="control-label"})
			<div class="controls">
				@Html.EditorFor(m => m.EmailAddress, new { @class = "input-xlarge" })
				@Html.ValidationMessageFor(m => m.EmailAddress, null, new{@class="help-inline"})
			</div>
		}
		@using (Html.ControlGroupFor(m => m.Password))
		{
			@Html.LabelFor(m => m.Password, new {@class="control-label"})
			<div class="controls">
				@Html.EditorFor(m => m.Password, new { @class = "input-xlarge" })
				@Html.ValidationMessageFor(m => m.Password, null, new{@class="help-inline"})
			</div>
		}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</fieldset>
	<div class="well">
		Don't have an account yet?  @(Html.ActionLink<RegisterNewUserController>(c => c.Register(), "Create one now!"))
	</div>
}
